html
{
    background-color: green;
}

li 
{
    font-size: 35px;  
color: greenyellow
}
.myclass { 
    color: black
    
}
#hiwot
{
   color: brown
}
.secondclass{
    color: bisque
}

li
{
    background-color: yellow;
}
#p{
  font-size: 40px ; 
}
img{
    
}


